# Ignore node_modules (built inside container)
node_modules
client/node_modules
server/node_modules

# Ignore Git metadata
.git
.gitignore

# Ignore logs
*.log

# Ignore local environment files
.env
*.env

# Ignore OS and editor files
.DS_Store
.vscode
*.swp
Thumbs.db
